<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url=https://surv.is-a.dev/survs-gallery/">
    <title>Redirecting...</title>
    <script defer>
      document.querySelector('a').click();
    </script>
  </head>
  <body>
    <span>We have moved to a new URL!</span>
    <br>
    <span>View it here: <a href="https://surv.is-a.dev/survs-gallery/">https://surv.is-a.dev/survs-gallery/</a>.</span>
  </body>
</html>
